body {
	background-color: linen;
	height: 100%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    border: solid black 1px;
}

/*Menu*/
.dropdown-mine {
	position: relative;
	display: inline-block;
	background-color: wheat; 
	padding: 5px;
	border: 1px solid black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	float:left;
	clear:left;
	margin: 5px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 10px;
	z-index: 1;
}

.dropdown-mine:hover .dropdown-content {
	display:block;
}

/* menu attempt */
.menu {
	width: 100%;
/*	display: block;*/
	background-color: #E3E3E3; /*#cec5bb*/
	margin: 0;
}


.menu button {
    background-color: inherit;
    float: left;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.menu button:hover {
	background-color: #A4A4A4;
}

.menu button.active {
	background-color: #818181;
}

.tab {
	display:none;
	overflow: auto;
	padding: 6px;
	border-top: none;
}

/*Stat Table Format*/
 #statTable {
 	border-collapse: collapse;
 	float: left;
/* 	clear:left;*/
 	margin: 10px;

 }

 #statTable, tr, td {
 	border: 1px solid black;
	width: 15%;
	text-align: center;
	min-width:50px;
	max-width: 100px;
 }

 #arrayBox {
 	margin:10px;
	float: left;
	clear: left;
 }

 #arrayBox td {
	max-width: 20px;
	min-width: 20px;
	min-height: 25px;
	max-height: 25px;
}

.StatHover {
	border: none;
    position: relative;
    display: inline-block;
}

.StatHover .StatHoverText {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 210%;
    top: -5px;
    opacity: 0;
    transition: opacity 0.3s;
}


.StatHover:hover .StatHoverText {
    visibility: visible;
    opacity: 1;
}

#statSave {
	margin-top:10px;
}

.skillDesc {
	border: 1px solid black;
	font-size: 11px;
	padding: 5px;
	width: 400px;
	display:inline-block;
}

#skillTable {
/*	display:block;*/
	margin-top: 10px;
	float:left;
	clear:both;

}

#skillTable td {
	max-width: 5px;
}

.skills {
	display:block;
}




/*This sets it that there is no class shown at first. Could be changed
 to show Barbarian info until another is selected. Not sure.*/
.charClasses {
	display: none;
}